{% extends "myapp/base.html" %}
{% block content %}

<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>{{mensaje}}</h1>
  <p></p> 
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
    <a  class="btn btn-primary" href="{% url 'app:cocina_create'%}"> Nueva Receta</a> 
  </div>
    <div  class="col-sm-6">
    <a  class="btn btn-primary" href="{% url 'app:cocina_import'%}"> Nuevas Recetas Import</a>
  </div>
    
    {% for u_ser in rega %}

    <div class="col-sm-4">
      
      <h3>
          <a href="{% url 'app:cocina_receta'  u_ser.id %}">
            {{u_ser.receta}}
          </a>
        </h3>
      <p>{{u_ser.decripcion}}</p>
      
      
      
    </div>
    {% endfor %} 
    
  </div>
</div>



{% endblock %}