<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      {% if request.user.username %}
      <button class="btn btn-primary" type="button"> {{ request.user.username }} </button>
      {% else %}
      <button class="btn btn-primary" type="button"> Invitado </button>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Temas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/canciones">Canciones</a></li>
              <li><a class="dropdown-item" href="/recetas">Recetas</a></li>
              <li><a class="dropdown-item" href="/regalos">Regalos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/peliculas">Peliculas</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>