<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Horas1">Horas1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Horas2">Horas2</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <h1>
        Titulo
    </h1>
    {{variable}}
    <div id="mydiv">
        esto tiene contenido
    </div>
    <h2> Aca va el if </h2>

    {% if condicion %}
        # se cumple
        <script>
            console.log('hola mundo')   
            document.getElementById('mydiv').textContent = 'el valor cambio'
        </script>
    {% else %}
        # no se cumpla
    {% endif %}

    <h2> Aca va el for </h2>
    {% for item in my_list %}
        <br> un texto, {{ item }}
        
    {% endfor %}

    <h2> Aca va el for de usuario </h2>
    {% for usuario in usuarios %}
        <br> un usuario, {{ usuario.nombre }} - {{ usuario.edad }}
        {% if usuario.edad > 30 %}
            333
        {% else %}
            22
        {% endif %}

        <br>
    {% endfor %}
    
</body>
</html>